{extend name="common"/}
{block name="content"}
    <div class="am-page-name">
        <span class="am-icon-fw am-icon-folder-open-o"></span>文档管理
    </div>
    <div class="am-cf">
        <a href="javascript:;" class="am-btn-primary am-btn am-btn-hollow am-icon-cloud-upload"> 上传文档</a>
        <a href="javascript:;" class="am-btn-default am-btn am-btn-hollow am-icon-plus"> 新建分类</a>
        <div class="am-fr">
            <form action="action" method="POST" role="form" class="am-form am-form-inline">
                <div class="am-form-group">
                    <div class="am-input-group">
                        <div class="am-dropdown" data-am-dropdown>
                            <button class="am-btn am-btn-default am-dropdown-toggle"
                                    data-am-dropdown-toggle>分类筛选 <span class="am-icon-angle-down"></span>
                            </button>
                            <ul class="am-dropdown-content">
                                <li><a href="?catid=">合同</a></li>
                                <li><a href="?catid=">报价/账单</a></li>
                                <li><a href="?catid=">设计稿/源文件</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="am-input-group">
                        <div class="am-dropdown" data-am-dropdown>
                            <button class="am-btn am-btn-default am-dropdown-toggle"
                                    data-am-dropdown-toggle>格式 <span class="am-icon-angle-down"></span>
                            </button>
                            <ul class="am-dropdown-content">
                                <li><a href="?suffix=txt">.TXT</a></li>
                                <li><a href="?suffix=xls">.XLS/.XLSX</a></li>
                                <li><a href="?suffix=doc">.DOC/.DOCX</a></li>
                                <li><a href="?suffix=cdr">.CDR/.PSD</a></li>
                                <li><a href="?suffix=ppt">.PPT/.PPTX</a></li>
                                <li><a href="?suffix=jpg">.JPG/.PNG/.GIF</a></li>
                                <li><a href="?suffix=zip">.ZIP/.RAR/.7Z/.TAR.GZ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="am-input-group">
                        <div class="am-dropdown" data-am-dropdown>
                            <button class="am-btn am-btn-default am-dropdown-toggle"
                                    data-am-dropdown-toggle>排序 <span class="am-icon-angle-down"></span>
                            </button>
                            <ul class="am-dropdown-content">
                                <li><a href="">默认排序</a></li>
                                <li><a href="">时间顺序</a></li>
                                <li><a href="">名称排序</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="am-input-group">
                        <input type="search" name="title" placeholder="输入文档标题搜索">
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default am-icon-search" type="button"></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
<table class="am-table am-table-hover">
    <thead>
    <tr>
        <th>文件名</th>
        <th>分类</th>
        <th>大小</th>
        <th>上传时间</th>
        <th>管理</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>表格内容1</td>
        <td>表格内容1</td>
        <td>表格内容1</td>
        <td>表格内容1</td>
        <td>表格内容1</td>
    </tr>
    </tbody>
</table>
{/block}