{extend name="common"/}
{block name="breadcrumb"}
<li>系统设置</li>
{/block}
{block name="name"}系统设置{/block}
{block name="content"}
<section class="am-panel am-panel-default">
    <div class="am-panel-bd">
        <div class="am-tabs">
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="javascript: void(0)">企业信息</a></li>
                <li><a href="javascript: void(0)">文档存储</a></li>
                <li><a href="javascript: void(0)">选项C</a></li>
            </ul>
        </div>
</section>
{/block}