{extend name="common"/}
{block name="breadcrumb"}
<li><a href="{:url('finance/index')}">财务管理</a></li>
<li>收支列表</li>
{/block}
{block name="name"}收支记录{/block}
{block name="content"}
    <div class="am-g am-margin-bottom">
        <div class="am-u-sm-6 am-padding-left-0">
            <a href="{:url('create_item')}"
               class="am-btn am-btn-primary am-icon-plus am-btn-hollow"> 添加记录</a>
        </div>
        <div class="am-u-sm-6 am-text-right">
            <form class="am-form am-form-inline am-fr">
                <div class="am-form-group">
                    <div class="am-dropdown" data-am-dropdown>
                        <button class="am-btn am-btn-default am-dropdown-toggle"
                                data-am-dropdown-toggle>时间 <span class="am-icon-caret-down"></span>
                        </button>
                        <ul class="am-dropdown-content">
                            <li><a href="{:url('index')}?interval">全部</a></li>
                            <li><a href="{:url('index')}?interval=1">最近一个月</a></li>
                            <li><a href="{:url('index')}?interval=3">最近三个月</a></li>
                            <li><a href="{:url('index')}?interval=6">最近半年</a></li>
                            <li><a href="{:url('index')}?interval=12">最近一年</a></li>
                            <li><a href="{:url('index')}?interval=36">三年</a></li>
                        </ul>
                    </div>
                </div>
                <div class="am-form-group">
                    <input type="text" name="subject"
                           class="am-input-sm" placeholder="输入收支记录搜索">
                </div>
                <button type="submit" class="am-btn am-btn-default">
                    <span class="am-icon-search"></span> 搜索</button>
            </form>
        </div>
    </div>
    <table class="am-table am-table-project">
        <colgroup>
            <col width="50">
            <col>
            <col>
            <col width="150" align="center">
            <col width="80" align="center">
            <col width="180">
        </colgroup>
        <thead>
        <tr>
            <th>类型</th>
            <th>用途描述</th>
            <th>项目</th>
            <th>金额</th>
            <th>经办人</th>
            <th>管理</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr>
            <td>
                {eq name="vo.type" value="1"}
                <span class="am-icon-btn am-success am-radius">收</span>
                {else/}
                <span class="am-icon-btn am-warning am-radius">支</span>
                {/eq}
            </td>
            <td>
                <div class="am-text-lg">{$vo.title}</div>
                <div class="am-text-sm am-text-muted">
                    <img src="{$vo.payment_icon}" width="18" class="am-circle"> {$vo.payment_name}支付
                </div>
            </td>
            <td>
                {$vo.subject}
            </td>

            <td class="am-text-lg">
                {eq name="vo.type" value="1"}
                <b class="am-text-success  am-success">￥{$vo.money}</b>
                {else/}
                <b class="am-text-warning am-warning">￥{$vo.money}</b>
                {/eq}
            </td>
            <td>王斌</td>
            <td>
                <div class="am-table-btn">
                    <a href="{:url('details',['id'=>$vo['id']])}">详情</a>
                    <a href="{:url('editor',['id'=>$vo['id']])}">编辑</a>
                    <a href="javascript:;">删除</a>
                </div>
            </td>
        </tr>

        {/volist}
        </tbody>
    </table>
{$list->render()|raw}
{/block}