{extend name="common"/}
{block name="content"}
    <h3 class="am-page-name">报价清单</h3>
<div><a href="{:url('create_item')}"
        class="am-btn am-btn-primary am-icon-plus am-btn-hollow"> 新建报价</a></div>
<table class="am-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>金额</th>
        <th>项数</th>
        <th>管理</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>表格内容1</td>
        <td>表格内容1</td>
        <td>表格内容1</td>
        <td>表格内容1</td>
        <td>表格内容1</td>
    </tr>
    </tbody>
</table>
{/block}