{extend name="common"/}
{block name="content"}
    <h3 class="am-page-name">产品报价</h3>
<div><a href="javascript:im.modal('#add',450)"
        class="am-btn am-btn-primary am-icon-plus am-btn-hollow"> 新建报价</a></div>
<table class="am-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>金额</th>
        <th>项数</th>
        <th>管理</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>表格内容1</td>
        <td>表格内容1</td>
        <td>表格内容1</td>
        <td>表格内容1</td>
        <td>表格内容1</td>
    </tr>
    </tbody>
</table>
{/block}
{block name="modal"}
<div class="am-modal am-modal-confirm" tabindex="-1" id="add">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">添加产品报价</div>
        <div class="am-modal-bd">
            <form action="{:url('add_products')}" method="POST" role="form" class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label class="am-u-sm-2 am-form-label">产品</label>
                    <div class="am-u-sm-10">
                        <input type="text" name="title" placeholder="输入产品名称"/>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-2 am-form-label">进价</label>
                    <div class="am-u-sm-6 am-u-end">
                        <div class="am-input-group">
                            <span class="am-input-group-label">￥</span>
                            <input type="number" name="in_price" class="am-form-field">
                            <span class="am-input-group-label">.00</span>
                        </div>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-2 am-form-label">售价</label>
                    <div class="am-u-sm-6 am-u-end">
                        <div class="am-input-group">
                            <span class="am-input-group-label">￥</span>
                            <input type="number" name="out_price" class="am-form-field">
                            <span class="am-input-group-label">.00</span>
                        </div>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-2 am-form-label">单位</label>
                    <div class="am-u-sm-5 am-u-end">
                        <input type="text" name="unit" placeholder="产品单位">
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-2 am-form-label">供货商</label>
                    <div class="am-u-sm-10">
                        <input type="text" name="supplier" placeholder="输入产品名称"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn am-btn am-btn-default" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn am-btn am-btn-primary" onclick="im.submit('.am-form',this)" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
{/block}